
body {
    background-color: beige;
}
header {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 400px;
    width: 30%;
    border-style: dotted;
    margin: 2%;
    justify-content: space-evenly;
    justify-items: center;
    border-radius: 15px 15px 0px 0px ;
}

.card header {
    position: relative;
    width: 300px;
    margin-left: 50px;
    justify-content: center;
    border-style: dotted;
    background-color: lightblue;
    border-radius: 30px 30px 0px 0px;
    bottom: 15px;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
}

.code {
    display: block;
    background-color: lightblue;
}